* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #ffb6c1, #ffc0cb);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  overflow-y: auto;
  padding: 20px 0;
}


/* CARD */
.card {
  max-height: 85vh;
  overflow-y: auto;
  background: white;
  width: 90%;
  max-width: 340px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  animation: fadeIn 1s ease;
  z-index: 2;
}

h1 {
  font-size: 22px;
}

.buttons button {
  margin: 10px;
  padding: 12px 22px;
  border: none;
  border-radius: 20px;
  background: #ff9db5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: none;
  margin-top: 20px;
  animation: slideUp 0.6s ease;
}

/* TEXT */
.content p {
  max-height: 60vh;
  overflow-y: auto;
}


/* PHOTO */
.frame {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 25px;
  border: 6px solid #ffb6c1;
  overflow: hidden;
  animation: zoomIn 0.6s ease;
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav button {
  margin: 10px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background: #ffb6c1;
  color: white;
}

/* MUSIC */
.music-btn {
  margin-top: 15px;
  border: none;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 18px;
  background: #ff6f91;
  color: white;
}

/* HEART RAIN */
.hearts span {
  position: absolute;
  font-size: 18px;
  animation: fall linear infinite;
  pointer-events: none;
}

@keyframes fall {
  0% { transform: translateY(-10vh); opacity: 1; }
  100% { transform: translateY(110vh); opacity: 0; }
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}
